footer 
{
    border-top: 1px solid var(--or-champagne);
    background-color: #F7F2E8;
    display: flex;
    text-align: center;
    align-items: center;
}


.logo-footer1 img
{
    padding: 20px;
    width:100%;
}

.logo-footer2 img
{
    padding: 20px;
    width:10%;
    height:10%;
    display: inline-flex;
    justify-content: flex-end;
}
