:root
{
    box-sizing: border-box;
}

body
{
    border: 1px solid green;
    background-color: #FFFDF8;
}

header
{
    background-color: #F7F2E8;
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

img
{
    width : 7%;
    height: 7%;
    padding : 10px;
}

nav
{
    display : flex;
    flex-direction : column;
    justify-content : space-around;
    align-items: center;
}

#recherche a
{
    font-family: "Montserrat", sans-serif;
    font-size: 21px;
    margin: 2px 35px;
    color: #242424;
}

#menu2 a
{
    font-family: "Montserrat", sans-serif;
    font-size: 21px;
    text-align:center;
    margin: 2px 35px;
    color: #242424;
}

.recherche {
    display: flex;
    align-items: center;

    width: 600px;
    height: 48px;

    background-color: #FFFDF8;
    border: 1.5px solid #C9A45C;
    border-radius: 30px;

    overflow: hidden;

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
}


/* Champ de recherche */

.recherche input {
    flex: 1;
    height: 100%;
    padding: 0 20px;
    border: none;
    outline: none;
    background-color: transparent;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #242424;
}


/* Placeholder */

.recherche input::placeholder {
    color: #6F6A62;
}


/* Bouton */

.recherche button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    margin-right: -1px;
    border: none;
    border-radius: 50%;
    background-color: #C9A45C;
    cursor: pointer;
    transition: 0.3s;
}


/* Loupe */

.recherche svg {
    width: 22px;
    height: 22px;

    fill: none;
    stroke: #FFFDF8;
    stroke-width: 2;
    stroke-linecap: round;
}


/* Effet au survol */

.recherche button:hover {
    background-color: #B08B45;
    transform: scale(1.05);
}


/* Effet lorsque le champ est sélectionné */

.recherche:focus-within {
    box-shadow: 0 0 0 3px rgba(201, 164, 92, 0.15);
}